<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <%- include('partials/_header') %>
  <h3>Register here:</h3>
  <form method="POST" action="/register">
    <label for="email">Enter your email:</label>
    <input type="email" name="email">
    <label for="password">Enter a password</label>
    <input type="password" name="password">
    <button>Register</button>
  </form>
</body>
</html>